.carousel-image{
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    position: static;
    width: 100%;
}

#myCarousel{
    height: 550px;
    overflow: hidden;
    object-fit: fill;
    object-position: center;
}

.carousel-title {
    color: white;
    z-index: 1000;
    float: left;
    position: absolute;
    font-size: 32px;
    padding: 30px;
    
}

.page-title{
    padding: 10px;
}

.find-best{
    padding:15px;
    margin:20px;
    text-align: center;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.carousel-container{
    width: 70%;
}