/* .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;        
}

.list.list-horizontal > .list-item {
    display: inline-block;

}

.list > .list-item {
    margin: 0;
    padding: 0;    
}

.dropdown {
    position: relative;        
}

.dropdown .dropdown-list {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
}

.nav {
    background: black;
    
}

.nav form {
    margin: 0;
    padding: 0;
}
*/
.nav-btn {
    color: #333;
    background: white;
    border: 0;
    padding:3px;
    display: block;
    width:100%;
}

.nav-btn:hover {
    background-color: rgba(226, 226, 226, 0.3)
}

a {
    text-align: center;
}

/*
.nav-btn:focus{
    background-color: rgba(255, 255, 255, .7);
    color: white;
} 

.nav .list {
    background: #222;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

*/
