p, .img{
    padding: 5px;
    display: flex;
    justify-content: center;
}

label{
    padding: 5px;
    min-width: 100px;
    
}

.btn-info {
    border-radius: 10px;
}

.offers-body.form{
    display: flex;
    justify-content: center;
}

form {
    padding: 10px;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
    width:70%;
}

.description {
    height: 250px;
}