extends ../_shared/_master
block body
    != messages()
    .login-container
            form(action='/auth/sign-in', method="POST")
                <h2 class="form-sign-in" id="sign-in-form-header">Sign in</h2>
                input.form-control.auth-info(type="text" name="username" placeholder="Enter username")
                input.form-control.auth-info(type="password" name="password" placeholder="Enter password")
                button.btn.btn-info
                    | Sign In