extends ../_shared/_master
block body
    include ../errors/all

    .login-container
        form(name="signUp" action='/auth/sign-up' method="POST"  enctype="multipart/form-data" onsubmit="return validateSignUpForm()")
            <h2 class="form-sign-up" id="sign-up-form-header">Sign up</h2>
            input.form-control.auth-info(type="text" name="username" placeholder="Enter username*" required)
            input.form-control.auth-info(type="text" name="firstname" placeholder="Enter first name*" required)
            input.form-control.auth-info(type="text" name="lastname" placeholder="Enter last name*" required)
            input.form-control.auth-info(type="password" name="password" placeholder="Enter password*" required)
            input.form-control.auth-info(type="password" name="password-confirm" placeholder="Repeat password*" required)
            input.form-control.auth-info(type="email" name="email" placeholder="Email*" required)
            input.form-control.auth-info.input-image(type="file" accept="image/*" name="picture" id="file" class="form-control" required)
            div(id="imgContainer" class="col-sm-12")
            span.help-block
                |* Required fields
            button.btn.btn-info(type="submit")
                | Sign Up