include _nav

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    script(src='/libs/jquery/dist/jquery.js')
    script(src="/static/js/delete-offer.js")
    script(src="/static/js/comments.js")
    script(src="/static/js/all-offers.js") 
    script(src="/static/js/requester.js")
    script(src="/static/js/update.js")    
    script(src="/static/js/send-message.js")   
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")  
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel="stylesheet", href="/static/css/offers/offers.css")
    link(rel="stylesheet", href="/static/css/offers/offers-form.css")
    link(rel="stylesheet", href="/static/css/offers/description.css")
    link(rel="stylesheet", href="/static/css/offers/users-offers.css")
    link(rel="stylesheet", href="/static/css/auth/sign-in.css")
    link(rel="stylesheet", href="/static/css/home.css")
    link(rel="stylesheet", href="/static/css/user/profile.css")
    link(rel="stylesheet", href="/static/css/user/profile-other.css")
    link(rel="stylesheet", href="/static/css/user/upload.css")
    link(rel="stylesheet", href="/static/css/user/messages.css")
body
    +nav()
    block body