include _nav

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    script(src='/libs/jquery/dist/jquery.js')
    script(src="/static/js/users-offers.js")      
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")  
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel="stylesheet", href="/static/css/offers.css")
    link(rel="stylesheet", href="/static/css/offers-form.css")
    link(rel="stylesheet", href="/static/css/description.css")
    link(rel="stylesheet", href="/static/css/users-offers.css")
body
    +nav()
    block body