.title-des {
    color: #333;
    text-align: center;
    padding:10px;
}

.container-description{
    width: 800px;
    border: 1px solid #ccc;
    padding: 0px;
}

#myCarousel{
    height: 550px;
    overflow: hidden;
    object-fit: fill;
    object-position: center;
}

img{
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 100%;
}

.descr, .rating, .comments, .author{
    padding:10px;
}

.comment{
    display: none;
}

.user-data .user-comment{
    display: inline-block;
}

.user {
    color: #76bde9;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.user-comment {
    margin-left: 10px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid lightskyblue;
    border-radius: 8px;
    box-shadow: 2px 2px lightskyblue;
}

.comment-btn {
    margin: 10px;
}

#comment-image{
    width: 50px;
    height: 50px;
    margin-left:10px;
    border: 0.5px solid #76bde9;
}

.user-data{
    display: flex;
    flex-direction: row;
}

