.title-des {
    color: #333;
    text-align: center;
    padding:10px;
}

.container{
    width: 800px;
    border: 1px solid #ccc;
    padding: 0px;
}

#myCarousel{
    height: 550px;
    overflow: hidden;
    object-fit: fill;
    object-position: center;
}

img{
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 100%;
}

.descr, .rating, .comments{
    padding:10px;
}

.comment{
    display: none;
}