.title-des {
    color: #333;
    text-align: center;
    padding:10px;
}

.container{
    width: 800px;
    border: 1px solid #ccc;
    padding: 0px;
}

img{
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

.description, .price, .duration, .comments{
    padding:10px;
}

.comment{
    display: none;
}