.offers-list {
    list-style-type: none;
    text-align: left;
}

.offer {
    height: 290px;
}

.panel {
    padding:0px;
    position: relative;
    margin: 10px;
    
}

.panel-body {
    padding:0px;
    margin: 0px;
}

.img-thumbnail {
    height: 220px;
    width:100%;
    margin:0px;
    padding:0px;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

.title {
    padding: 10px;
    font-size: 28px;
    text-align: center;
    position: absolute;
    color: white;
    z-index: 100;
}
 h4 {
     margin-left: 10px;
 }

 .img-thumbnail:hover{
     filter: brightness(40%);
 }