img.min {
    width: 180px;
    height: 140px;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    float:left;
}

.my-offer{
    padding:5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.info-user-offer {
    width:400px;
    
}

.no-offers{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}

.offers-img{
	width:150px;
	height: 150px;
}


li{
    list-style: none;
}

.remove-offer-btn{
    height: 50px;
    margin-top: 40px;
}