extends _shared/_master
block body
  .page-content
    .homepage-hero-module
      .video-container
        .row.title-container
          .col.s12.m12
            h1.flow-text
              | OFFERS COMUNITY
            h3.flow-text
              | A small site for big adventures
        .filter
        video.fillWidth(autoplay='', loop='')
          source(src='/static/media/home/CastAway.mp4', type='video/mp4')
          | Your browser does not support the video tag. I suggest you upgrade your browser.
          source(src='/static/media/home/CastAway.webm', type='video/webm')
          | Your browser does not support the video tag. I suggest you upgrade your browser.
        .poster.hidden
          img(src='/static/media/home/CastAway.jpg', alt='Background video image')
    .row.page-info.center.z-depth-3
      .col-sm-12.col-md-12.col-centered.content-container
        .row.center-align
          .col.s12.m12.col.moffset-2
            h1.title Welcome
            h4.description-home
              | to the homeland of the passionate explorer
        .features
          .row
            .col-md-4
              .info
                .icon.icon-primary
                  i.material-icons search
                h2.info-title Find offers
                p
                  | Discover last-minute opportunities at a great price
            .col-md-4
              .info
                .icon.icon-success
                  i.material-icons public
                h2.info-title Browse
                p 
                  | Find out local activities, short trips, long vacations and countless other possibilities to enjoy
            .col-md-4
              .info
                .icon.icon-danger
                  i.material-icons chat
                h2.info-title Share impressions
                p
                  | Let others know you've had a great time
        .row.center-align
          .col.s12.m12
            a(href='/auth/sign-up').waves-effect.waves-light.btn-lg
              | Become a member now