extends _shared/_master
block body
  .page-content
    .homepage-hero-module
      .video-container
        .row.title-container
          .col.s12.m12
            h1.flow-text
              | TITLE
            h3.flow-text
              | small description
        .filter
        video.fillWidth(autoplay='', loop='')
          source(src='/static/media/home/CastAway.mp4', type='video/mp4')
          | Your browser does not support the video tag. I suggest you upgrade your browser.
          source(src='/static/media/home/CastAway.webm', type='video/webm')
          | Your browser does not support the video tag. I suggest you upgrade your browser.
        .poster.hidden
          img(src='/static/media/home/CastAway.jpg', alt='Background video image')
    .row.page-info.center.z-depth-3
      .col-sm-12.col-md-12.col-centered.content-container
        .row.center-align
          .col.s12.m12.col.moffset-2
            h1.title TITLE
            h4.description-home
              | Some longer description
        .features
          .row
            .col-md-4
              .info
                .icon.icon-primary
                  i.material-icons chat
                h2.info-title Find offer
                p
                  | description
            .col-md-4
              .info
                .icon.icon-success
                  i.material-icons verified_user
                h2.info-title 
                p
                  | description
            .col-md-4
              .info
                .icon.icon-danger
                  i.material-icons chat
                h2.info-title Share impressions
                p
                  | description
        .row.center-align
          .col.s12.m12
            a(href='/auth/register').waves-effect.waves-light.btn-lg
              | Get started now