extends ../_shared/_master
block body
    .all-offers-body
        ul.offers-list
            each offer in context
                a(href="/offers/" + offer._id)
                    li
                        .panel.panel-default.col-md-3.offer
                            .panel-body.offer
                                .title-offer
                                    =offer.title
                                img.img-thumbnail(src = '/' + offer.images[0].path)
                                h3
                                    =offer.rating + " "
                                    span.glyphicon.glyphicon-star