extends ../_shared/_master
block body
    ul.offers-list
        each offer in context
            li
                .panel.panel-default.col-md-6.offer
                    .panel-body
                        h2
                            =offer.title
                        img(src = offer.image)
                        h4 Duration: 
                            =offer.duration + " days"
                        h4 Price: 
                            =offer.price + " BGN"