extends ../_shared/_master
block body
    h1.title-des
        =context.title
    div.container
        #myCarousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')

            .carousel-inner
                    .item.active
                        img(src = context.image1, alt='img1')
                    if context.image2
                        .item
                            img(src = context.image2, alt='img2')
                    if context.image3
                        .item
                            img(src = context.image3, alt='img3')        
                    a.left.carousel-control(href='#myCarousel', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left
                        span.sr-only Previous
                    a.right.carousel-control(href='#myCarousel', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right
                        span.sr-only Next
        div.descr
            h2
                |Description: 
            h4
                =context.description
        div.rating
            h2
                |Rating: 
            h4
                =context.rating + " " 
                span.glyphicon.glyphicon-star
        div.comments
            h2
                |Comments:
        if context.comments
            each comment in context.comments
                div
                    =context.user.username
                div
                    =comment
        button.btn.btn-info.comment-btn
            |Add comment
        div.comment
            form(action="/offers/"+context._id method = "POST")
                label(for="comment")
                    |Comment:
                input(required type = "text" name = "comment")
                button.btn.btn-info
                            |Save   