extends ../_shared/_master
block body
    h1.title-des
        =context.title
    div.container-description
        #myCarousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')

            .carousel-inner
                    .item.active
                        img(src = '/' + context.images[0].path, alt='img1')
                    if context.images[1]
                        .item
                            img(src = '/' + context.images[1].path, alt='img2')
                    if context.images[2]
                        .item
                            img(src = '/' + context.images[3].path, alt='img3')        
                    a.left.carousel-control(href='#myCarousel', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left
                        span.sr-only Previous
                    a.right.carousel-control(href='#myCarousel', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right
                        span.sr-only Next
        div.author
            h2
                |Author: 
            if user.username != context.user.username
                a(href="/user/"+ context.user.username)
                    =context.user.username
            else
                div
                    =context.user.username
        div.descr
            h2
                |Description: 
            h4
                =context.description
        div.rating
            h2
                |Rating: 
            h4
                =context.rating + " " 
                span.glyphicon.glyphicon-star
        div.comments
            h2
                |Comments:
        if context.comments
            each comment in context.comments
                div
                    div.user-data
                        img.img-rounded#comment-image(src=comment.picture)
                        div.user-comment
                            =comment.comment
                    a.user(href="/user/"+ comment.user)
                        =comment.user + ":"
        div
            button.btn.btn-info.comment-btn
                |Add comment
        div.comment
            form(action="/offers/"+context._id method = "POST")
                label(for="comment")
                    |Comment:
                input(required type = "text" name = "comment")
                button.btn.btn-info
                            |Save   