extends ../_shared/_master
block body
    != messages()

    form(action="/offers" method = "POST")
        input(required type="text" name = "text")
        button.btn-success
            |Save       