extends ../_shared/_master
block body
    include ../errors/all
    .offers-body.form
        .panel.panel-default.col-md-6
            .panel-body.form
                form(name="createOffer" action="/offers" method="POST" enctype="multipart/form-data" onsubmit="return validateOffersForm()")
                    p
                        label(for="title")
                            |Title:
                        input(type="text" name="title" required)
                    p
                        label(for="image")
                            |Images:
                        input.input-image(type="file" accept="image/*" name="image" id="file" class="form-control" multiple="multiple" required)
                        div(id="imgContainer" class="col-sm-12")
                    p
                        label(for="description")
                            |Description:
                        textarea(name = "description" rows="5" required).description-offer
                    p
                        label(for="price")
                            |Price:
                        input(type="number" name="price" required)
                    p
                        button.btn.btn-info(type="submit")
                            |Save       
    script(src='/static/js/show-image.js')