extends ../_shared/_master
block body
    != messages()

    form(action="/offers" method = "POST")
        label(for="title")
            |Title:
        input(required type = "text" name = "title")
        label(for="Image")
            |Image:
        input(required type = "text", name = "image")
        label(for="duration")
            |Duration:
        input(required type = "text", name = "duration")
        label(for="price")
            |Price:
        input(required type = "text", name = "price")
        button.btn-success
            |Save       