extends ../_shared/_master
block body
    != messages()
    .offers-body.form
        .panel.panel-default.col-md-6
            .panel-body.form
                form(action="/offers" method = "POST")
                    p
                        label(for="title")
                            |Title:
                        input(required type = "text" name = "title")
                    p
                        .img
                            label(for="Image")
                                |Images:
                            input(required type = "text", name = "image1")
                        .img
                            label(for="Image")
                            input(type = "text", name = "image2")
                        .img
                            label(for="Image")
                            input(type = "text", name = "image3")
                    p
                        label(for="description")
                            |Description:
                        textarea(required name = "description"  rows="5").description
                    p
                        label(for="rating")
                            |Rating:
                        input(required type = "text" name = "rating")
                    p
                        button.btn.btn-info
                            |Save       