extends ../_shared/_master
block body
    != messages()
    .offers-body
        .panel.panel-default.col-md-3.offer
            .panel-body
                form(action="/offers" method = "POST")
                    p
                        label(for="title")
                            |Title:
                        input(required type = "text" name = "title")
                    p
                        label(for="Image")
                            |Image:
                        input(required type = "text", name = "image")
                    p
                        label(for="duration")
                            |Duration:
                        input(required type = "text", name = "duration")
                    p
                        label(for="price")
                            |Price:
                        input(required type = "text", name = "price")
                    p
                        button.btn-info
                            |Save       