extends ../_shared/_master
block body
    if context.length        
        ul
            each offer in context
                .panel.panel-default.col-md-5
                    .panel-body
                        li
                            .my-offer
                                a(href="/offers/" + offer._id).a
                                    img(src= '/' + offer.images[0].path, alt="img1").min.img-thumbnail
                                    h3
                                        =offer.title
                                    h3.info-user-offer
                                        =offer.price + " BGN"
                                button.btn.btn-info.remove-offer-btn
                                    |Remove offer
    else
        p
            | No offers yet...