extends ../_shared/_master
block body
    div.profile-container.panel.panel-default
        div.inner-container
            form(action="/my-profile/edit/"+ context.username method="POST")
                input(type="text", name="picture", placeholder = "New profile picture URL")
                button.btn.btn-info
                    |Save